/*
 *  Proof of Concept for complex forms with HAM
 *  Copyright (C) 2021-2022 Sascha Kohlmann
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.      
 */

a {
    color: blue;
    text-decoration: underline;
}
.param {
    display: block;
}
.entry-name {
    font-weight: bold;
}

dl {
    display: flex;
    flex-flow: row wrap;
/*    border: solid #333;
    border-width: 1px 1px 1px 1px;*/
}
dt {
    flex-basis: 20%;
    padding: 2px 4px;
    background: white;
    margin: 0;
    text-align: right;
    color: black;
}
dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
/*    border-bottom: 1px solid #333;*/
}

.problem-title {
    color: red;
}
.problem-detail-term {
    font-weight: bold;
}
.problem-detail-term::after {
    content: ":";
}

.hlist {
    /* Flexible boxX */
    display: flex;
    width: 100%;
    /* Remove default indentions */
    padding: 0;
    margin: 0;
  }
   
.hlist li {
    list-style-type: none;
    box-sizing: border-box;
    padding: 10px;
    background: #ffecec;
    /* width: 100%; Auto spacing */
}
   
@media screen and (max-width: 768px) {
    /* Allow list items to wrap to new row */
    .hlist { flex-wrap: wrap; } 
    /* 2 items per row */
    .hlist li { width: 50%; }
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
}


form {
	width: 30em;
	padding-top: 1em;
}

input,
label {
	float: left;
}

input {
	margin: 0 0 1em .2em;
	padding: .2em .5em;
	width: 55%;
	background-color: #fffbf0;
	border: 1px solid #e7c157;
}

label {
	text-align: right;
	line-height: 1.5;
	width: 40%;
}

label::after {
	content: ": ";
}

button {
	margin-left: 40%;
}

input[required=true]::after {
    content: "*"
}
