<!DOCTYPE html>
<html>
  <head>
    <!--
    Proof of Concept for complex forms with HAM
    Copyright (C) 2021-2022 Sascha Kohlmann

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.      
    -->
    <title>Receipt of child sickness benefit in the event of pandemic care of the child who is not ill and accident questionnaire with HAM</title>
    <!-- We load the scripts in the header for better overview of the flow only. -->
    <script src="mustache.js"></script>
    <script src="handlebars.min.js"></script>
    <script src="template7.min.js"></script>

    <!-- 
      Currently this is also a learning platfoem for me. As I don't know which templare engine is the best for the given task,
      I decide to support multiple template engines. All content of the templates must be within a <script> element with a
      "type" attribute. Currently two types are defined:

      * text/x-tmpl-mustache       -> for Mustache templates.  See https://github.com/janl/mustache.js for more information
      * text/x-handlebars-template -> for Handlebars template. See https://github.com/handlebars-lang/handlebars.js for more information
      * text/x-template7           -> for Template7 template.  See https://github.com/nolimits4web/template7 for more information

      Comments for Mustache:
        * The recursive field lookup creats problems with the 'id', 'entries' and 'selectable' HAM properties.
          Might be solveable with prefillup of the fields but that's a bad idea at all.

      Comments for Handlebars:
        * The distinction between objects and arrays with the "with" and "each" block helper creates problems on the "value" property
          which can be both. For the case the Mustache syntax ( {{#value}} ) can be used. In this case the Handlebars.compile option
          'strict' can't be used.

      Comments for Template7:
        * The availability of the @root access looks like a better as the ../ syntax of Handlebars. With the ../ syntax there will
          come problems with HAMs recursive 'entries' or 'selectables'.

      Common:
        * Depending on which template engine is used, different references to the "onHam..." functions are required.
          * Mustache: the links, items, template of problems array reference
          * Handlebars: the ham reference itself.
          * Template7:  the ham reference itself.
        * Documentation for recursion handling in Mustache and Handlebars: https://stackoverflow.com/questions/13408425/mustache-js-recursion
    -->

    <!--
      It looks like life is getting easier with some template helpers.
      E.g. the 'params' array object can be very complicated in its behavior.
      It will be easier for handling when there are cascading helper with own
      templates and decissions.
    -->
    <script type="application/javascript">
      "use strict"

      Template7.registerHelper("submitButtonText", function (rel) {
        if (rel) {
          if (rel === "next") {
            return "Weiter";
          }
          return rel;
        }

        return "Eingaben absenden";
      });

      Template7.registerHelper("templateParam", function (param) {
        if (param) {
          if (!param.id) {
            param.id = 'l' + Math.floor(Math.random() * 1_000_000_000);
          }
          let paramType = param.type ? param.type.toLowerCase() : "text";
          if (paramType === "date") {
            return doRender(param, "t7.params-type-date-template");
          } else if (paramType === "hidden") {
            return doRender(param, "t7.params-type-hidden-template");
          } else if (paramType === "search") {
            return doRender(param, "t7.params-type-search-template");
          } else {
            return doRender(param, "t7.params-type-text-template");
          }
        }
        return "";
      });
    </script>
    
    <script id="mst.items-template" type="text/x-tmpl-mustache">
      <h2>Items</h2>

      {{#array}}
        <div class='item' {{#id}}id='{{.}}'{{/id}}>
          <div>
            <dl class='item-entries'>
              {{#entries}}
                <dt {{#id}}id='{{.}}'{{/id}} class='entry-description'>
                  <span class='{{name}}-description description-content'>
                    {{#prompt}}{{prompt}}{{/prompt}}
                    {{^prompt}}{{name}}{{/prompt}}
                  </span>
                </dt>
                <dd class='entry-content'>
                  <ul>
                    {{#value}}<li><span class='{{name}}-content'>{{.}}</span></li>{{/value}}
                  </ul>
                </dd>
              {{/entries}}
            </dl>
          </div>
          <nav class='item-links'>
            <ul class='hlist'>
              {{#links}}
                <li><span class='rel-{{rel}} item-link-container' {{#id}}id='{{.}}'{{/id}}>
                  <a href="{{href}}" rel="{{rel}}" class="item-link" onclick="linkClickHandler(event, '{{href}}')">
                    {{#prompt}}{{.}}{{/prompt}}
                    {{^prompt}}
                      {{#name}}{{name}}{{/name}}
                      {{^name}}{{rel}}{{/name}}
                    {{/prompt}}
                  </a>
                </span></li>
              {{/links}}
            </ul>
          </nav>
          <hr />
        </div>
      {{/array}}
    </script>

    <script id="hb.items-template" type="text/x-handlebars-template">
      {{#if items}}
        <h2>Items</h2>
      {{/if}}

      {{#each items}}
        <div class='item' {{#if id}}id='{{id}}'{{/if}}>
          <div>
            <dl class='item-entries'>
              {{#each entries}}
                <dt {{#if id}}id='{{id}}'{{/if}} class='entry-description'>
                  <span class='{{name}}-description description-content'>
                    {{#if prompt}}
                      {{prompt}}
                    {{^}}
                      {{name}}
                    {{/if}}
                  </span>
                </dt>
                <dd class='entry-content'>
                  <ul>
                    {{#value}}<li><span class='{{name}}-content'>{{.}}</span></li>{{/value}}
                  </ul>
                </dd>
              {{/each}}
            </dl>
          </div>
          <nav class='item-links'>
            <ul class='hlist'>
              {{#each links}}
                <li><span class='rel-{{rel}} item-link-container' {{#if id}}id='{{id}}'{{/if}}>
                  <a href="{{href}}" rel="{{rel}}" class="item-link" onclick="linkClickHandler(event, '{{href}}')">
                    {{#if prompt}}
                      {{prompt}}
                    {{^}}
                      {{#if name}}
                        {{name}}
                      {{^}}
                        {{rel}}
                      {{/if}}
                    {{/if}}
                  </a>
                </span></li>
              {{/each}}
            </ul>
          </nav>
          <hr />
        </div>
      {{/each}}
    </script>

    <script id="t7.items-template" type="text/x-template7">
      {{#if items}}
        <h2>Items</h2>
      {{/if}}

      {{#each items}}
        <div class='item' {{#if id}}id='{{id}}'{{/if}}>
          <div>
            <dl class='item-entries'>
              {{#each entries}}
                <dt {{#if id}}id='{{id}}'{{/if}} class='entry-description'>
                  <span class='{{name}}-description entry-name'>
                    {{#if prompt}}
                      {{prompt}}
                    {{else}}
                      {{name}}
                    {{/if}}
                  </span>
                </dt>
                <dd class='entry-content'>
                  <ul>
                    {{#value}}<li><span data-entry-name='{{../name}}'>{{this}}</span></li>{{/value}}
                  </ul>
                </dd>
              {{/each}}
            </dl>
          </div>
          <nav class='item-links'>
            <ul class='hlist'>
              {{#each links}}
                <li><span class='rel-{{rel}} item-link-container' {{#if id}}id='{{id}}'{{/if}}>
                  <a href="{{href}}"
                    rel="{{rel}}"
                    class="item-link"
                    onclick="linkClickHandler(event, '{{href}}')"
                    {{#if name}}data-link-name="{{name}}"{{/if}}
                  >
                    {{#if prompt}}
                      {{prompt}}
                    {{else}}
                      {{#if name}}
                        {{name}}
                      {{else}}
                        {{rel}}
                      {{/if}}
                    {{/if}}
                  </a>
                </span></li>
              {{/each}}
            </ul>
          </nav>
          <hr />
        </div>
      {{/each}}
    </script>

    <script id="t7.problems-template" type="text/x-template7">
      {{#if problems}}
        <h2>Problems</h2>
      {{/if}}

      {{#each problems}}
        <h3>Problem{{#if title}}: <span class='problem-title'>{{title}}</span>{{/if}}</h3>
        <div class='problem'>
          <dl class='problem-entries'>
            {{#if detail}}
              <dt><span class='problem-detail-term'>Detail</span></dt>
              <dd class='problem-detail-description'>{{detail}}</dd>
            {{/if}}
            <!--{{#if category}}
              <dt>Kategory</dt>
              <dd class='problem-category'>{{category}}</dd>
            {{/if}}-->
          </dl>
        </div>
      {{/each}}
    </script>

    <script id="mst.global-links-template" type="text/x-tmpl-mustache">
      <h2>Links</h2>
      <ul class='hlist global-links' {{#id}}id='{{.}}'{{/id}}>
        {{#array}}
          <li>
            <span class='rel-{{rel}} global-link-container' {{#id}}id='{{.}}'{{/id}}>
              <a href="{{href}}"
                rel="{{rel}}"
                class="global-link"
                onclick="linkClickHandler(event, '{{href}}')"
                {{#name}}data-link-name="{{name}}"{{/name}}
              >
                {{#prompt}}{{.}}{{/prompt}}
                {{^prompt}}{{rel}}{{/prompt}}
              </a>
            </span>
          </li>
        {{/array}}
      </ul>
    </script>
    <script id="t7.params-type-hidden-template" type="text/x-template7">
      {{#with this}}
        <input type="hidden" name="{{name}}" value="{{data}}" />
      {{/with}}
    </script>

    <script id="t7.params-type-text-template" type="text/x-template7">
      {{#with this}}
        <div {{#if class}}class='{{join class delimiter=" "}}'{{/if}} >
          <label for='{{id}}'>
            {{#if prompt}}
              {{prompt}}
            {{else}}
              {{name}}
            {{/if}}
          </label>
          <input type="text" name="{{name}}" id="{{id}}"
            {{#if data}}
              value="{{data}}"
            {{/if}}
            {{#if placeholder}}
              placeholder="{{placeholder}}"
            {{/if placeholder}}

            {{#with constraints}}
              {{#if minItems}}
                required="true"
              {{/if}}
              {{#if regex}}
                pattern="{{regex}}"
              {{/if}}
              {{#if min}}
                minlength="{{min}}"
              {{/if}}
              {{#if max}}
                maxlength="{{max}}"
              {{/if}}
            {{/with}}
            {{#if class}}
              class='{{join class delimiter=" "}}'
            {{/if}}
          />
        </div>
      {{/with}}
    </script>

    <script id="t7.params-type-date-template" type="text/x-template7">
      {{#with this}}
        <div {{#if class}}class='{{join class delimiter=" "}}'{{/if}} >
          <label for='{{id}}'>
            {{#if prompt}}
              {{prompt}}
            {{else}}
              {{name}}
            {{/if}}
          </label>
          <input type="date" name="{{name}}" id="{{id}}"
            {{#if data}}
              value="{{data}}"
            {{/if}}
            {{#if placeholder}}
              placeholder="{{placeholder}}"
            {{/if}}
             
            {{#with constraints}}
              {{#if minItems}}
                required="true"
              {{/if}}
              {{#if min}}
                min="{{min}}"
              {{/if}}
              {{#if max}}
                max="{{max}}"
              {{/if}}
            {{/with}}
            {{#if class}}
              class='{{join class delimiter=" "}}'
            {{/if}}
          />
        </div>
      {{/with}}
    </script>

    <script id="t7.params-type-search-template" type="text/x-template7">
      {{#with this}}
        <div {{#if class}}class='{{join class delimiter=" "}}'{{/if}} >
          <label for='{{id}}'>
            {{#if prompt}}
              {{prompt}}
            {{else}}
              {{name}}
            {{/if}}
          </label>
          <input type="search" name="{{name}}" id="{{id}}" list="datalist{{id}}"
            {{#if data}}
              value="{{data}}"
            {{/if}}
            {{#if placeholder}}
              placeholder="{{placeholder}}"
            {{/if placeholder}}

            {{#with constraints}}
              {{#if minItems}}
                required="true"
              {{/if}}
              {{#if regex}}
                pattern="{{regex}}"
              {{/if}}
              {{#if min}}
                minlength="{{min}}"
              {{/if}}
              {{#if max}}
                maxlength="{{max}}"
              {{/if}}
            {{/with}}
            {{#if class}}
              class='{{join class delimiter=" "}}'
            {{/if}}
          />
          {{#with options}}
            <datalist id="datalist{{../id}}">
            {{#each selectables}}
              {{#if data}}
                <option value="{{data}}">
                {{#if prompt}}
                  {{prompt}}
                {{/if}}
                </option>
              {{else}}
                {{#if prompt}}
                  <option value="{{prompt}}" />
                {{/if}}
              {{/if}}
            {{/each}}
            </datalist>
          {{/with}}
        </div>
      {{/with}}
    </script>

    <script id="t7.templates-template" type="text/x-template7">
      {{#if templates}}
        <h2>Templates</h2>
      {{/if}}

      {{#each templates}}
        <div class='template'>
          <h3>{{#if prompt}}{{prompt}}{{else}}{{@key}}{{/if}}</h3>
          <form action='{{this.href}}'
                enctype='{{#if this.model}}{{this.model}}{{else}}application/x-www-form-urlencoded{{/if}}'
                method='{{#if this.method}}{{this.method}}{{else}}GET{{/if}}'
                onsubmit="submitData(event, '{{#if this.method}}{{this.method}}{{else}}GET{{/if}}')" >
            {{#each this.params}}
              {{templateParam this}}
            {{/each)}}           
            <button type="submit">{{submitButtonText rel}}</button>
          </form>
        </div>
      {{/each}}
    </script>

    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="forms.css" />
  </head>
  <body>
    <header>
      <h1 title='main_title'><a href='https://gitlab.com/skohlmann1/ham'>HAM</a> Forms Proof-of-Concept</h1>
    </header>

    <section id="ham_problems"></section>
    <nav id="ham_links"></nav>
    <section id="ham_items"></section>
    <section id="ham_templates"></section>

    <script type="application/javascript">
      "use strict"

      window.onload = function() {
        getData("/api/forms");
      }

      function hamLoop(ham) {
        removeOldState();
        ckeckHam(ham);
        onHamLinks(ham.links);
        onHamItems(ham);
        onHamTemplates(ham);
        onHamProblems(ham);
      }

      function ckeckHam(ham) {
        if (!ham) {
          console.warn("HAM - no documen");
          return;
        }
        if (!ham.schema) {
          console.warn("HAM - no schema info");
        }
        if (ham.schema && ham.schema !== "Draft-1") {
          console.warn(`HAM - no valid schema: ${ham.schema}`);
        }
      }

      function onHamProblems(ham) {
        doRenderFor(ham, 't7.problems-template', hamProblemsContainer());
      }

      function onHamLinks(links, options) {
        doRenderFor(links, 'mst.global-links-template', hamLinksContainer());
      }

      function onHamItems(ham) {
        //doRender(ham.items, 'mst.items-template', hamItemsContainer());
        //doRender(ham, 'hb.items-template', hamItemsContainer());
        doRenderFor(ham, 't7.items-template', hamItemsContainer());
      }

      function onHamTemplates(ham) {
        doRenderFor(ham, 't7.templates-template', hamTemplatesContainer());
        createHelpFromItems();
      }

      function doRenderFor(data, templatename, target) {
        target.innerHTML = doRender(data, templatename);
      }

      function doRender(data, templatename) {
        let templateScript = document.getElementById(templatename);
        let templateScriptType = templateScript.getAttribute("type");

        if (templateScriptType === "text/x-tmpl-mustache") {
          return Mustache.render(templateScript.innerHTML, {array: data});
        } else if (templateScriptType === "text/x-template7") {
          let template = Template7.compile(templateScript.innerHTML);
          return template(data)
        } else if (templateScriptType === "text/x-handlebars-template") {
          let template = Handlebars.compile(templateScript.innerHTML);
          return template(data)
        }
        throw "Unsupported template engine type: " + templateScriptType;
      }

      function errorLoop(error) {
        removeOldState();
        console.error('Error:', error);
      }

      function removeOldState() {
        removeChildren(hamProblemsContainer());
        removeChildren(hamLinksContainer());
        removeChildren(hamItemsContainer());
        removeChildren(hamTemplatesContainer());
      }

      function hamProblemsContainer() {
        return document.getElementById('ham_problems');
      }

      function hamLinksContainer() {
        return document.getElementById('ham_links');
      }

      function hamItemsContainer() {
        return document.getElementById('ham_items');
      }

      function hamTemplatesContainer() {
        return document.getElementById('ham_templates');
      }

      function removeChildren(element) {
        if (element) {
          while (element.firstChild) {
            element.removeChild(element.firstChild);
          }
        }
      }

      function getData(link, options) {
        fetch(link, options)
          .then(response => {
            if (!response.ok) {
              errorIfNok(response);
            }
            checkMediaType(response);
            return response.json();
          })
          .then(data => hamLoop(data.ham))
          .catch((error) => errorLoop(error))
      }

      function submitData(submitEvent, method) {
        submitEvent.preventDefault();
        fetch(submitEvent.target.action, {
          method: method,
          body: new URLSearchParams(new FormData(submitEvent.target)) // event.target is the form
        }).then((response) => {
          if (!response.ok) {
            errorIfNok(response);
          }
          return response.json();
        }).then(data => hamLoop(data.ham)
        ).catch((error) => {
          console.log(error);
        });
      }

      function linkClickHandler(event, link) {
        if (link.startsWith("#")) {
          let target = link.substring(1)
          document.getElementById('id').scrollIntoView();
        } else {
          event.preventDefault();
          getData(link, {});
        }
      }

      function checkMediaType(response) {
        let mediaType = response.headers.get('Content-Type');
        if (mediaType
            && (!mediaType.includes('application/vnd.ham+json') && !mediaType.includes('application/problem+json'))) {
          throw new Error('Unsupported media type: ' + mediaType + ' with status ' + response.status + ' - ' + response.statusText);
        }
      }

      function errorIfNok(response) {
        checkMediaType(response)
        let mediaType = response.headers.get('Content-Type');
        if (mediaType && mediaType.includes('application/vnd.ham+json')) {
          return;
        }
        if (mediaType && mediaType.includes('application/problem+json')) {
          throw ProblemError(response.json());
        }
        throw new Error('Network response was not ok: ' +  response.status + " - " + response.statusText);
      }

      /**
       * This is a content specific behavior for a HAM document. It defines help and grouping support for templates.
       * The following behavior will be implemented:
       * 
       * If "items" contains a link relation with name "describes" an href with an anchor link only (starting with a hashmark #)
       * execute the fllowing process:
       * 
       * 1. select the elememt with the same ID as the anchor without the leading hashmark
       *    e.g. if the anchro link is "#abc", the ID is "abc"
       * 2. if the element contains a class attribute with a name contains a leading "group+", use this group name an go ahead.
       *    Otherwise stop the process.
       * 3. Collect all <div> elements with the class name of the group name and add the <div> elements to a <fieldset>
       * 4. Replace the first <div> element with the group name with the <fieldset>
       * 5. Remove all other collected <div> elements.
       * 6. If the "items" element contains an entry where a style element contains a the attribute "data-entry-name" with the
       *    value "group-description" add a <legend> element to the <fieldset> with the style elemnt.
       *    If the entry contains multiple style elements with the "data-entry-name='group-description'", use the first one only.
       */
      function createHelpFromItems() {}
    </script>
  </body>
</html>
